<% if flash[:create] %>
  <p class="flash"><%= flash[:create] %></p>
<% elsif flash[:update] %>
  <p class="flash"><%= flash[:update] %></p>
<% end %>

<div class="show">
  <div class="show-book">
    <h5>Title:</h5>
    <p><%= @book.title %></p>
  </div>

  <div class="show-book">
    <h5>Body:</h5>
    <p><%= @book.body %></p>
  </div>
</div>

<div class="show-link">
  <%= link_to 'Edit', edit_book_path(@book) %>
  <p>｜</p>
  <%= link_to 'Back', index_book_path %>
</div>